{% extends "layout.html" %}

{% block title %}

    Home

{% endblock %}

{% block nav %}

    <nav class="nav nav-masthead justify-content-center masthead-justify">
        <a class ="nav-link active" href="/">Home</a>
        <a class ="nav-link" href="/aboutme">About Me</a>
        <a class ="nav-link" href="/projects">Projects</a>
        <a class ="nav-link" href="/contact">Contact</a>
    </nav>

{% endblock %}

{% block main %}

    <h1 class="cover-heading">why, hello there <a class="wink" href=""></a></h1>
    <p class="lead">Welcome to my website! I'm glad you're here. Please, take off your shoes and make yourself comfortable.</p>
    <p class="lead">Originally, this was made to satisfy the requirements of CS50x, but it has grown into my personal 
        homepage. Feel free to look around!</p>
    <div class="mtop-auto lead">
            <a href="/aboutme"><input type="button" value="Learn More" class="btn btn-lg btn-secondary"></a>
    </div>

{% endblock %}